<ion-view view-title="Abastible - Energía Limpia" hide-back-button="true">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <br>
                <div class="text-center" style="padding-right: 20px;"><img src="img/logo-abastible.png"></div>
                <br>
                <hr>
                <h2 class="text-center"><strong>Bienvenido!</strong></h2>
                <br>
                <h2>Estas utilizando la aplicación de pedidos de <strong>Abastible!</strong> la energía limpia. Selecciona una de las siguientes opciones para continuar:</h2>
                <br>
                <a class="button button-full icon-right ion-chevron-right button-positive pull-rigth" href="#/app/detalle">Hacer un pedido&nbsp;</a>
                <a class="button button-full icon-right ion-chevron-right button-positive pull-rigth" href="#/app/llamame">LLámame&nbsp;</a>
                <a class="button button-full icon-right ion-chevron-right button-positive pull-rigth" href="#/app/mapa">Sucursales cerca&nbsp;</a>
                <br>
                <div class="row telefonos-inicio">
                    <a class="col text-center" href="tel:26939111">
                        <p><strong>Servicio al cliente</strong></p>
                        <p><i class="ion-ios-telephone-outline"></i>&nbsp;2 693 9111</p>
                    </a>
                    <a class="col text-center" href="tel:6002009000">
                        <p><strong>Emergencia</strong></p>
                        <p><i class="ion-ios-telephone-outline"></i>&nbsp;600 200 9000</p>
                    </a>
                </div>
                <br>
                <h3 class="text-center">Gracias por preferirnos</h3>
            </div>
        </div>
    </ion-content>
</ion-view>
