<ion-view view-title="Llámame" hide-back-button="true">

<ion-content>
<div class="card">
    <div class="item item-text-wrap">
        <h1 class="text-center">Bienvenido!</h1>
    </div>
</div>
<div class="card">
    <div class="item item-text-wrap">
        <h2>Este es el serico <strong>Llámame!</strong>, has click en el botón más abajo para solicitar tu atención</h2>
    </div>
</div>
<div class="card">
    <div class="item item-text-wrap">
        <button class="button button-full button-positive" ng-click="llamame()">
        Llámame
        </button>
    </div>
</div>
</ion-content>
<ion-footer-bar class="bar-stable">
<a class="button button-small icon-left ion-close-round pull-left" href="#/app/pedido">Cancelar</a>
</ion-footer-bar>
</ion-view>