<ion-view view-title="Mapa de sucursales" hide-back-button="true">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <br>
                <div class="text-center"><img src="img/logo-abastible.png"></div>
                <br>
                <hr>
                <h2 class="text-center"><strong>Mapa de sucursales</strong></h2>
                <br>
                <img class="img-mapa" src="img/mapa.png">
                <br>
                <br>
                <h2 class="text-center"><strong>Sucursales cercanas</strong></h2>
                <div class="list card sucursales-cercanas">
                    <div class="item">
                        <p><i class="ion-bookmark"></i>&nbsp;&nbsp;Distribuidor: GAS INDEPENDENCIA</p>
                        <p><i class="ion-map"></i>&nbsp;&nbsp;AVENIDA INDEPENDENCIA 5782, CONCHALI</p>
                        <p><i class="ion-ios-telephone"></i>&nbsp;&nbsp;226231021</p>
                    </div>
                    <div class="item">
                        <p><i class="ion-bookmark"></i>&nbsp;&nbsp;Distribuidor: GAS INDEPENDENCIA</p>
                        <p><i class="ion-map"></i>&nbsp;&nbsp;AVENIDA INDEPENDENCIA 5782, CONCHALI</p>
                        <p><i class="ion-ios-telephone"></i>&nbsp;&nbsp;226231021</p>
                    </div>
                    <div class="item">
                        <p><i class="ion-bookmark"></i>&nbsp;&nbsp;Distribuidor: GAS INDEPENDENCIA</p>
                        <p><i class="ion-map"></i>&nbsp;&nbsp;AVENIDA INDEPENDENCIA 5782, CONCHALI</p>
                        <p><i class="ion-ios-telephone"></i>&nbsp;&nbsp;226231021</p>
                    </div>
                    <div class="item">
                        <p><i class="ion-bookmark"></i>&nbsp;&nbsp;Distribuidor: GAS INDEPENDENCIA</p>
                        <p><i class="ion-map"></i>&nbsp;&nbsp;AVENIDA INDEPENDENCIA 5782, CONCHALI</p>
                        <p><i class="ion-ios-telephone"></i>&nbsp;&nbsp;226231021</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <a class="button button-small icon-left ion-home pull-left" href="#/app/inicio">&nbsp;Inicio</a>
    </ion-footer-bar>
</ion-view>
