<ion-view view-title="Hacer un pedido" hide-back-button="true">

<ion-content>
<div class="card">
    <div class="item item-text-wrap">
        <h1 class="text-center">Bienvenido!</h1>
    </div>
</div>
<div class="card">
    <div class="item item-text-wrap">
        <h2>Esta es la aplicación de pedidos para un comercio genérico!</h2>
        <br>
        <h3 class="text-center">Gracias por preferirnos</h3>
    </div>
</div>
<div class="card">
    <div class="item item-text-wrap">
        <a class="button button-full icon-right ion-chevron-right button-balanced pull-rigth" href="#/app/detalle">Hacer un pedido&nbsp;</a>
    </div>
</div>
</ion-content>

</ion-view>